.App {
  font-family: sans-serif;
  text-align: center;
}

.MuiListItemIcon-root {
  min-width: 40px !important;
}

.MuiList-padding {
  padding-top: 0px !important;
}

.MuiListItem-button:hover {
  background-color: rgba(63, 81, 181, 0.3) !important;
}

.MuiToolbar-root .MuiTypography-h6 {
  font-weight: 600 !important;
}

/* .MuiPaper-root .MuiTypography-h6 {
  color: #3f51b5 !important;
} */

.MuiTableCell-head {
  color: rgb(63, 81, 181) !important;
  border-bottom: 1px solid !important;
  font-weight: 600 !important;
}

.Navigation .MuiDrawer-paperAnchorLeft {
  color: rgb(255, 255, 255) !important;
  background-color: #3f51b5 !important;
}

.Navigation .MuiSvgIcon-root {
  color: white !important;
}

.MuiGrid-item .MuiPaper-rounded {
  background: linear-gradient(to bottom, #dadfff 21%, white 20%);
}

.MuiGrid-item .MuiPaper-rounded .MuiTypography-h4 {
  color: rgb(63, 81, 181) !important;
}

.view-report {
  text-align: right;
}

header h6 {
  display: inline-flex;
}

header svg {
  margin-top: 4px;
}

.Iconstyle {
  display: block;
  margin-left: 10px;
}

.MuiTypography-gutterBottom {
  margin-top: -0.35em !important;
  margin-bottom: 0.7em !important;
}

.MuiTableCell-body {
  color: rgba(0, 0, 0, 0.87) !important;
}